@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

#heading{
    text-align: center;
    color: rgb(46, 143, 255);
}
#audio-wrapper, #btn-wrapper{
    width: 400px;
    margin: 40px auto;
}

#btn-wrapper{
    margin-top: 20px;
    text-align: center;
}

#progress-bar{
    width: 400px;
    height: 15px;
    background-color: grey;
    border-radius: 8px;
    margin: 0 auto;
}

#progress{
    width: 0%;
    height: 100%;
    background-color: rgb(46, 143, 255);
    border-radius: 8px;
}

#banner{
    height: 400px;
    width: 400px;
    background: url('https://m.media-amazon.com/images/I/81mNRm3F6KL._SS500_.jpg');
    border-radius: 10px;
    background-repeat: no-repeat;
    margin: 0 auto 20px auto;
}