/* .styleDiv{
    border: 1px solid black;
    padding: 20px;
}

.advStyles{
    background-color: hotpink;
    border-radius: 10px;
}

#para{
    background-color: lightblue;
}*/

/* #div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: none;
}

.changeBg{
    background-color: red;
} 

.container{
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

.bgStyle{
    background-color: lightcoral;
} */