body{
    background-color: #a5b1bd;
}

#btn{
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px; */
    /* padding: 15px 30px 15px 30px; */
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgb(1, 192, 217);
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn:hover{
    background-color: cyan;
    color: black;
    cursor: pointer;
}

#borderDemo{
    height: 200px;
    width: 200px;
    border-left: 5px dotted black;
    border-right: 5px dashed yellow;
    border-top: 5px double green;
    border-bottom: 5px solid orange;
}

img{
    height: 200px;
    width: 200px;
}

#imgDiv{
    text-align: center;
}