/* #timetable{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightblue;
    width: 40%;
    height: 350px;
    margin: 150px auto;
}

td,th{
    border: 1px solid black;
    padding: 10px;
}

#lunch, #hours{
    text-align: center;
}

caption{
    font-size: 20px;
    padding-bottom: 15px;
    color: rgb(5, 176, 255);
} */
table{
    text-align: center;
}
img{
    height: 95%;
    width: 95%;
}

h1{
    text-align: center;
}